div {
    padding: 10px;
}

p {
    padding: inherit;
    font-size: 50px;
    text-align: center;
}

.p1 {
    font-family:"Open Sans", sans-serif;
}

.p2 {
    font-family: "Cairo", sans-serif;
}

.p3 {
    font-family: "jomhuria", cursive;
}