div {
    display: inline;
    background-color: rgba(78, 77, 77, 0.205);
    padding: 5px;
    border: 5px;
    outline: 5px solid black;
    margin: 5px;
}

.shape1 {
    border: dashed;
    border-color: red green blue yellow;
}

.shape2 {
    border: solid;
    border-color: blue green;
}

.shape3 {
    border: solid;
    border-color: red;
}