div {
    width: 400px;
    padding: 5px;
    margin: 5px;
    background-color: rgba(0, 0, 0, 0.05);
}

.shape1 {
    border-left: 5px solid rgb(111, 130, 240);
}

.shape2 {
    border-left: 5px solid rgb(169, 240, 111);
    visibility: hidden;
}

.shape3 {
    border-left: 5px solid rgb(240, 111, 175);
}