a {
    vertical-align: middle;
    text-align: center;
    color: white;
    text-indent: 50px;
    padding: 15px;
    font-size: 30px;
    text-decoration: none;
    background-color: rgb(21, 183, 204);
    text-transform: capitalize;
    border-bottom: 7px rgb(7, 127, 143) solid;
}